<a href="https://colab.research.google.com/github/anand1994sp/anand1994sp/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
series=pd.Series(["BMW","Toyota","Honda"])

In [ ]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [ ]:
colours=pd.Series(["Red","Blue","White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [ ]:
car_data=pd.DataFrame({"Car make":series,"Colour":colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [ ]:
car_sales=pd.read_csv("/content/car-sales.csv")

In [ ]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00